# Supabase
# Obtén estos valores en: https://app.supabase.com/project/_/settings/api
VITE_SUPABASE_URL=https://xhpasmjzuwifmjhrsumb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhocGFzbWp6dXdpZm1qaHJzdW1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0Mjk5MDEsImV4cCI6MjA4NzAwNTkwMX0.vcCYmabPvq0JKSQIlAQ3nBAoV2Cwh-3YBpuyJ_Vxdw0
